.card {
  display: flex;
  border: 1px solid #000;
  border-radius: 4px;
  width: 50px;
  height: 80px;
  background: white;
  cursor: pointer;
}

.card > * {
  user-select: none;
  pointer-events: none;
}

.card--red {
  color: red;
}

.card--back {
  background: darkgreen;
  cursor: initial;
}

.card--back > * {
  opacity: 0;
}

.card--pointer {
  cursor: pointer;
}