.card-layout {
  display: flex;
  flex-direction: column;
}

.card-layout .card-layout-item {
  height: 20px;
  cursor: pointer;
}


.card-layout .card-layout-item.card-layout-item--stacked {
  height: 0;
}