.container {
  position: relative;
}

.card-placeholder {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  border: 1px dashed #000;
  opacity: 0.4;
  border-radius: 4px;
  width: 50px;
  height: 80px;
  background: inherit;
}